/* Boards.css */

.app-container {
  font-size: 12px;
  font-family: Arial, sans-serif;
}

.top {
  margin-bottom: 80px;
}

.wrapper {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#body {
  width: 500px;
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.post-title {
  margin: 0;
  font-weight: bold;
}

.post-time {
  color: #777;
}

.post-body {
  font-weight: lighter;
  margin-top: 10px;
}

/* 수정된 스타일 */
.post-title-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px; /* 래퍼(wrapper)와 동일한 폰트 크기 유지 */
}

.post-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px; /* 제목과 구분하기 위해 콘텐츠 폰트 크기 조정 */
}

.button-container {
  display: flex;
  align-items: center;
}

button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

@media screen and (max-width: 992px) {
  .wrapper {
    display: block;
  }

  .button-container {
    display: block;
    margin: 0 auto;
  }

  #title {
    width: 100%;
  }

  #body {
    width: 100%;
    margin-top: 20px;
  }
}
